body{
    font-family:"Roboto", serif;
    background-color: #E5D9F2;
  
  
}
.header{
    background-image: url('creative-geometric-shopping-bag-template_616632-4725.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}