body{
    font-family:"Roboto", serif;
    background-color: #E5D9F2;
  
  
}
.header{
    background-image: url('4.webp');
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}
.head{
    color: #A294F9;
}